.buttonWrapper button {
    padding: 5px;
    font-size: 26px;
    font-weight: bolder;
    background: linear-gradient(to top left, teal, cadetblue, PaleTurquoise, yellow);
    border-radius: 10px;
}
.buttonWrapper button:hover {
    opacity: 0.5;
}

.disabled {
    opacity: 0.5;
}