.counterWrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.counterContainer {
    display: flex;
    flex-direction: row;
    width: 800px;
    border: 1px solid darkslategrey;
    height: 500px;
    box-shadow: 10px 5px 5px darkslategrey;
}

.scoreboardWrapper {
    width: 50%;
    background-color: #61dafb;

}

.scoreboardSettingsWrapper {
    width: 50%;
    background-color: mediumslateblue;
}